language: python

python:
    - "2.7"

before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

install:
    - "wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.6.zip"
    - "sudo unzip -q google_appengine_1.9.6.zip -d /usr/local"
    - 'export PATH="/usr/local/google_appengine":$PATH'
    - "pip install -r requirements.txt --use-mirrors"

before_script:
    - "cd guestbook"
    - "flake8 --exclude=features --ignore=E501,F403 --statistics ."

script:
    - "nosetests --with-doctest --cover-html --cover-erase --with-coverage --cover-package=guestbook.guestbook --with-gae --without-sandbox -v"
    - "py.test --doctest-modules --cov-report term --cov-report html --cov guestbook.py --with-gae --gae-path='/usr/local/google_appengine' -v"
    - "behave"
