language: python

python:
    - "2.7"

before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"

install:
    - "wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.6.zip"
    - "sudo unzip -q google_appengine_1.9.6.zip -d /usr/local"
    - 'export PATH="/usr/local/google_appengine":$PATH'
    - 'export SERVER_RUNNING="True"'
    - "dev_appserver.py -h"
    - "pip install -r requirements.txt"

before_script:
    - "cd guestbook"
    - "flake8 --exclude=features --ignore=E501,F403 --statistics ."

script:
    - "nosetests --with-doctest --cover-html --cover-erase --with-coverage --cover-package=guestbook.guestbook --with-gae --without-sandbox -v"
    - "py.test --doctest-modules --cov-report term --cov-report html --cov guestbook.py --with-gae --gae-path='/usr/local/google_appengine' -v"
    - "dev_appserver.py --clear_datastore=yes --port=4567 --skip_sdk_update_check=yes . &"
    - "sleep 3"
    - "behave -v"
    - "echo DONE!"
