# for testing
PyHamcrest==1.8.0
pytest==2.5.2
selenium==2.42.1
behave==1.2.4
coverage==3.7.1
mockito==0.5.2
nose==1.3.3
pytest_gae==0.2.3
pytest-cov==1.7.0
NoseGAE==0.2.1
WebTest==2.0.15
# for debug
ipdb==0.8
# for pep8 check
flake8==2.2.2
